/* STORY PREVIEWS */

#story_previews > *:not(:last-child) {
	border-bottom: 1px solid var(--light-gray);
}

@media only screen and (max-width: 1500px) {#story_previews .story * {
	text-align: center;
}}

#story_previews .story .header {
	display: flex;
	row-gap: 1.5em;
	flex-direction: column;
}

@media only screen and (max-width: 1500px) {#story_previews .story * {
	justify-content: center;
}}

#story_previews .story .header .story-info {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5em;
	column-gap: 0.5em;
}

#story_previews .story .header .story-info .pill {
	font-weight: 600;
	font-size: 0.7em;
	padding: 0.5em 1em;
	letter-spacing: 0.025em;
	background-color: rgba(0,0,0,0.05);
	border-radius: var(--small-border-radius);
}