/* GLOBAL */

html, 
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #333;
	font-size: 24px;
	font-weight: 400;
	scroll-behavior: smooth;
	font-family: "EB Garamond", serif;
}

p {
	margin: 0;
	line-height: 1.6em;
}
p + p {
	margin-top: 24px;
}

a {
	color: inherit;
	text-decoration: none;
}


/* PAGE */

#page {
	margin: auto;
	width: 1200px;
	padding: 3em 0;
}


/* PAGE HERO */

#page_hero {
	text-align: center;
	margin-bottom: 0em;
}

#hero_heading {
	font-size: 4em;
}

#hero_pronounciation {
	color: #eee;
	font-size: 1.2em;
	margin-bottom: 0.2em;
	letter-spacing: 0.5em;
}
#hero_pronounciation small {
	font-size: 0.7em;
	font-weight: 600;
}

/* NAVBAR */

#navbar {
	top: -1px;
	z-index: 1;
	display: flex;
	height: 110px;
	padding: 0 2em;
	position: sticky;
	align-items: center;
	background-color: white;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	transition: 0.2s ease;
}
#navbar.is-sticky {
	border-bottom: 1px solid transparent;
	box-shadow: 0 15px 15px -15px rgba(0,0,0,0.1);
}

#navbar_hero {
	width: 0%;
	opacity: 0;
	font-size: 2em;
	overflow: hidden;
	transition: inherit;
}
#navbar.is-sticky #navbar_hero {
	width: 20%;
	opacity: 1;
}

#navbar_buttons {
	width: 100%;
	display: flex;
	column-gap: 2em;
	align-items: center;
	justify-content: center;
	transform: translateY(-0.6em);
	transition: inherit;
}
#navbar.is-sticky #navbar_buttons {
	width: 14em;
	transform: translateY(0);
}

#navbar_buttons .navbar-button {
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 500;
	position: relative;
}
#navbar.is-sticky .navbar-button {
	font-size: 0.9em;
}
#navbar_buttons .navbar-button:not(:last-child)::after {
	right: -1em;
	content: "·";
	position: absolute;
}



/* MAIN CONTAINER */

#main {
	display: flex;
	column-gap: 2em;
	padding: 2.5em 3em;
	position: relative;
}


/* SIDEBAR */

#sidebar {
	top: 7em;
	display: flex;
	color: #eee;
	flex: 0 0 320px;
	position: sticky;
	border-radius: 0.7em;
	align-self: flex-start;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #111;
	padding: 2em 2.5em 0em 2.5em;
}

#sidebar_heading {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

#sidebar_content {
	overflow: auto;
	scrollbar-width: none;
}
#sidebar_content::-webkit-scrollbar {
	display: none;
}

#sidebar_scroll_indicator {
	opacity: 0;
	margin: auto;
	width: 0.75em;
	display: block;
	padding: 1em 0;
	transition: 0.1s ease;
	animation: bounce 2s ease infinite;
}
#sidebar_content:not(.fully-scrolled) + #sidebar_scroll_indicator {
	opacity: 1;
}


/* MAIN CONTENT */

#main_content {
	display: flex;
	row-gap: 2em;
	flex-direction: column;
}


/* STORY */

.story {
	border-radius: 0.7em;
	padding: 2em 2.5em;
	border: 1px solid #eee;
	text-align: center;
}

.story.preview {
	cursor: pointer;
}

.story.preview .title {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}


/* TOOLBAR */

#toolbar {
	left: 50%;
	display: flex;
	bottom: 0.5em;
	padding: 0.25em;
	position: fixed;
	font-size: 1.1em;
	column-gap: 0.25em;
	border-radius: 0.5em;
	transform: translateX(-50%);
	background-color: rgba(34,34,34,0.8);
}

#toolbar .toolbar-item-group {
	display: flex;
	overflow: hidden;
	border-radius: 0.3em;
}

#toolbar .toolbar-item-group .toolbar-item {
	color: white;
	cursor: pointer;
	font-size: 0.6em;
	font-weight: 500;
	user-select: none;
	padding: 1em 1.2em;
	background-color: #111;
	font-family: 'Figtree', sans-serif;
}
#toolbar .toolbar-item-group .toolbar-item:hover {
	background-color: #1f1f1f;
}
#toolbar .toolbar-item-group .toolbar-item:active {
	background-color: #2c2c2c;
}
#toolbar .toolbar-item-group .toolbar-item:not(:last-child) {
	border-right: 2px solid #222;
}


/* FOOTER */

#footer {
	padding: 1.5em 2.5em;
	border-top: 1px solid #eee;
}

#footer_hero {
	font-size: 2em;
	text-align: center;
}

#footer_content {
	font-size: 0.8em;
	margin-top: 0.5em;
	text-align: center;
}


/* ANIMATIONS */

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translate(-50%, 0);}
	40% {transform: translate(-50%, -0.4em);}
	60% {transform: translate(-50%, -0.3em);}
}