:root {
	--foreground: #111;
	--light-background: #fff;
	--dark-background: #111;
	--light-border: #eee;
	--dark-border: #222;
	--light-gray: #eee;
}


/* GLOBAL */

html, 
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 24px;
	font-weight: 400;
	scroll-behavior: smooth;
	color: var(--foreground);
	font-family: "EB Garamond", serif;
}

p {
	margin: 0;
	line-height: 1.6em;
}
p + p {
	margin-top: 24px;
}


/* PAGE */

#page {
	margin: auto;
	width: 1200px;
	padding: 3em 0;
}


/* PAGE HERO */

#page_hero {
	text-align: center;
}

#hero_heading {
	font-size: 4em;
}

#hero_pronounciation {
	font-size: 1.3em;
	margin-bottom: 0.2em;
	letter-spacing: 0.4em;
	color: var(--light-gray);
}
#hero_pronounciation small {
	font-size: 0.7em;
	font-weight: 600;
}

/* NAVBAR */

#navbar {
	top: -1px;
	z-index: 1;
	display: flex;
	height: 4.6em;
	padding: 0 3em;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	background-color: var(--light-background);
	border-bottom: 1px solid var(--light-border);
	transition: 0.2s ease;
}
#navbar.is-sticky {
	border-bottom: 1px solid transparent;
	box-shadow: 0 15px 15px -15px rgba(0,0,0,0.1);
}

#navbar_hero_wrapper {
	width: 0%;
	opacity: 0;
	transition: inherit;
}
#navbar.is-sticky #navbar_hero_wrapper {
	opacity: 1;
	width: 7.5em;
}
#navbar_hero {
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	color: var(--light-gray);
	background-color: var(--dark-background);
}

#navbar_buttons {
	width: 100%;
	display: flex;
	column-gap: 2em;
	align-items: center;
	justify-content: center;
	transform: translateY(-0.6em);
	transition: inherit;
}
#navbar.is-sticky #navbar_buttons {
	width: 12em;
	transform: none;
}

#navbar_buttons .navbar-button {
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 500;
	position: relative;
}
#navbar.is-sticky .navbar-button {
	font-size: 0.95em;
}
#navbar_buttons .navbar-button:not(:last-child)::after {
	right: -1em;
	content: "·";
	position: absolute;
}


/* MAIN CONTAINER */

#main {
	display: flex;
	column-gap: 2em;
	padding: 2.5em 3em;
	flex-direction: row-reverse;
}


/* SIDEBAR */

#sidebar {
	top: 7em;
	display: flex;
	position: sticky;
	flex: 0 0 13.3em;
	flex-direction: column;
	box-sizing: border-box;
	color: var(--light-gray);
	padding: 2em 2.5em 0 2.5em;
	border-radius: 0.7em 0 0.7em 0.7em;
	background-color: var(--dark-background);
}

#sidebar_heading {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

#sidebar_content {
	overflow-y: auto;
	scrollbar-width: none;
}
#sidebar_content::-webkit-scrollbar {
	display: none;
}

#sidebar_scroll_indicator {
	opacity: 0;
	margin: auto;
	width: 0.8em;
	padding: 1.3em 0;
	transition: 0.1s ease;
	animation: bounce 2s ease infinite;
}
#sidebar_content:not(.fully-scrolled) + #sidebar_scroll_indicator {
	opacity: 1;
}


/* SIDEBAR TOOLBAR */

#toolbar {
	top: 0;
	left: 100%;
	display: flex;
	user-select: none;
	position: absolute;
	flex-direction: column;
	align-items: flex-start;
	border-left: 2px solid #222;
}
#toolbar::after {
	top: 0;
	left: 0;
	bottom: 0;
	content: "";
	z-index: -1;
	width: 2.57em;
	position: absolute;
	border-radius:  0 0.5em 0.5em 0;
	background-color: var(--dark-background);
}

#toolbar .toolbar-button {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	align-items: center;
	padding: 0.8em 0.9em;
	border-radius:  0 0.5em 0.5em 0;
	font-family: 'Figtree', sans-serif;
	background-color: var(--dark-background);
	transition: 0.15s ease;
}
#toolbar .toolbar-button:active {
	background-color: #1f1f1f;
}
#toolbar .toolbar-button:not(:last-child):after {
	left: 0;
	bottom: 0;
	content: "";
	height: 2px;
	width: 2.57em;
	position: absolute;
	background-color: var(--dark-border);
}

#toolbar .sidebar-toolbar-button-icon {
	width: 0.7em;
}

#toolbar .toolbar-button .hidden-text {
	opacity: 0;
	max-width: 0;
	box-sizing: border-box;
	transition: 0.2s ease;
}
#toolbar .toolbar-button .hidden-text span {
	display: block;
	font-size: 0.7em;
	margin-left: 0.8em;
	letter-spacing: 0.05em;
}
#toolbar .toolbar-button:hover .hidden-text {
	opacity: 1;
	max-width: 3.6em;
}


/* MAIN CONTENT */

#main_content {
	row-gap: 2em;
	display: flex;
	flex-direction: column;
}


/* STORY */

.story {
	padding: 2em 2.5em;
	border-radius: 0.7em;
	border: 1px solid var(--light-border);
}

.story.preview {
	cursor: pointer;
}

.story.preview .title {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}


/* FOOTER */

#footer {
	padding: 1.5em 2.5em;
	border-top: 1px solid var(--light-border);
}

#footer_hero {
	font-size: 2em;
	text-align: center;
}

#footer_content {
	font-size: 0.8em;
	margin-top: 0.5em;
	text-align: center;
}


/* ANIMATIONS */

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-0.4em);}
	60% {transform: translateY(-0.3em);}
}