/* VARIABLES */

:root {
	/* Colors */
	--black: #000;
	--dark-gray: #999;
	--almost-white: #f6f6f6;
	--light-background: #fff;
	--dark-background: #090909;
	--light-border: #eee;
	--dark-border: #1a1a1a;

	/* Fonts */
	--serif-font: "Karma", serif;
	--display-font: "Melodrama", serif;
	--sans-serif-font: "Satoshi", sans-serif;
}


/* TAGS */

/* Body */

html, 
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-weight: 350;
	color: var(--black);
	scroll-behavior: smooth;
	font-family: var(--sans-serif-font);
	background-color: var(--light-background);
}

/* Paragraphs */

p {
	margin: 0;
	line-height: 2em;
}
p + p { margin-top: 24px; }

/* Links */

a.unstyled {
	color: inherit;
	text-decoration: none;
}

/* Images */

img { display: block; }


/* GLOBAL */

.clickable { cursor: pointer; }
.unselectable {	user-select: none; }


/* TEXT STYLING */

.enable-ligatures {	font-variant-ligatures: discretionary-ligatures; }

.text {	line-height: 1.9em; }

.heading {
	font-size: 2.5em;
	font-weight: 550;
	font-family: var(--display-font);
}
@media only screen and (max-width: 675px) {.heading {
	font-size: 2em;
}}


/* CONTAINERS */

.flexbox { display: flex; }

.flexbox.wrap {	flex-wrap: wrap; }
.flexbox.column { flex-direction: column; }

.flexbox.minimal-spacing {
	row-gap: 0.3rem;
	column-gap: 0.3rem;
}
.flexbox.compact-spacing {
	row-gap: 1rem;
	column-gap: 1rem;
}
.flexbox.regular-spacing {
	row-gap: 1.5rem;
	column-gap: 1.5rem;
}
.flexbox.comfortable-spacing {
	row-gap: 2.5rem;
	column-gap: 2.5rem;
}


/* CARDS */

.card {	padding: 4em; }
@media only screen and (max-width: 1000px) {.card {	padding: 3em; }}

.card.dark {
	color: var(--almost-white);
	background-color: var(--dark-background);
}

/* Headers */

.card .header {
	margin-bottom: 1.5em;
}


/* PAGE */

#page {
	margin: auto;
	padding: 2em 4em;
	max-width: 1400px;
}
@media only screen and (max-width: 1000px) {#page {
	padding: 2em 3em;
}}
@media only screen and (max-width: 675px) {#page {
	padding: 2em 0;
	font-size: 0.9em;
}}


/* PAGE HERO */

#page_hero {
	padding: 3em;
	font-weight: 400;
	text-align: center;
}
@media only screen and (max-width: 1000px) {#page_hero { font-size: 0.85em; }}
@media only screen and (max-width: 675px) {#page_hero {	
	font-size: 0.65em; 
	margin-bottom: -4em;
}}

/* Heading */

#hero_heading {
	font-size: 5.5em;
	font-family: var(--display-font);
}


/* NAVBAR */

#navbar {
	top: -1px;
	z-index: 3;
	display: grid;
	position: sticky;
	background-color: var(--light-background);
	border-top: 1px solid var(--light-border);
	border-bottom: 1px solid var(--light-border);
	transition: grid-template-rows 0.15s ease, margin-bottom 0.15s ease;
}
@media only screen and (min-width: calc(1000px + 1px)) {#navbar { min-height: 5em; }}
@media only screen and (max-width: 1000px) and (min-width: calc(675px + 1px)) {#navbar { min-height: 4.5em; }}
@media only screen and (min-width: calc(675px + 1px)) {#navbar { grid-template: "navbar-hero navbar-menu" / auto 1fr; }}
@media only screen and (max-width: 675px) {#navbar {
	grid-template: 
		"navbar-hero navbar-menu-button"
		"navbar-menu navbar-menu"
}}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky) { 
	border-top: none; 
	grid-template-columns: auto 1fr; 
}}
@media only screen and (max-width: 675px) {#navbar.is-sticky { grid-template-columns: 1fr auto; }}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky):not(.menu-open) { margin-bottom: 1em; }}
@media only screen and (max-width: 675px) {#navbar:not(.menu-open) { grid-template-rows: auto 0px; }}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky).menu-open { grid-template-rows: auto 230px; }}
@media only screen and (max-width: 675px) {#navbar.is-sticky.menu-open { grid-template-rows: auto 195px; }}

#navbar>* {
	margin-bottom: -1px;
}

/* Navbar Hero */

#navbar_hero {
	display: flex;
	font-weight: 500;
	font-size: 1.9em;
	padding: 0 0.6em;
	align-items: center;
	grid-area: navbar-hero;
	color: var(--almost-white);
	font-family: var(--display-font);
	background-color: var(--dark-background);
}
#navbar:not(.is-sticky) #navbar_hero {
	display: none;
}

/* Mobile Navbar Menu Button */

#mobile_navbar_menu_button {
	grid-area: navbar-menu-button;
	background-color: var(--dark-background);
	transition: filter 0.15s ease;
}
@media only screen and (min-width: calc(675px + 1px)) {#mobile_navbar_menu_button {	display: none; }}
#navbar:not(.is-sticky) #mobile_navbar_menu_button { 
	padding: 0.8em; 
	margin: 0.95em;
	border-radius: 0.25em;
}
#navbar.is-sticky #mobile_navbar_menu_button { padding: 1.75em; }
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky) #mobile_navbar_menu_button {	
	justify-self: center;
	transform: translateY(2.15em); 
}}
#navbar.menu-open #mobile_navbar_menu_button { filter: invert(); }

#mobile_navbar_menu_button img { width: 0.8em; }

/* Navbar Menu */

#navbar_menu_wrapper {
	display: flex;
	overflow: hidden;
	grid-area: navbar-menu;
	transition: height 0.1s ease;
}
@media only screen and (min-width: calc(675px + 1px)) {#navbar:not(.is-sticky) #navbar_menu_wrapper { justify-content: center; }}
@media only screen and (min-width: calc(675px + 1px)) {#navbar.is-sticky #navbar_menu_wrapper { justify-content: end; }}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky) #navbar_menu_wrapper { 
	justify-content: center;
	border-top: 1px solid var(--light-border); 
}}

@media only screen and (max-width: 1000px) and (min-width: calc(675px + 1px)) {#navbar_menu { font-size: 0.95em; }}
@media only screen and (max-width: 675px) {#navbar_menu {
	row-gap: 0.8em;
	flex-direction: column;
}}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky) #navbar_menu { padding-top: 2.5em; }}
@media only screen and (max-width: 675px) {#navbar.is-sticky #navbar_menu { padding: 1em; }}

/* Navbar Menu Buttons */

#navbar_menu .navbar-button {
	position: relative;
	font-family: var(--sans-serif-font);
}
@media only screen and (min-width: calc(675px + 1px)) {#navbar_menu .navbar-button {
	display: flex;
	padding: 0 1.5em;
	align-items: center;
}}
@media only screen and (min-width: calc(675px + 1px)) {#navbar_menu .navbar-button:not(#navbar:not(.is-sticky) #navbar_menu .navbar-button:first-child) {
	border-left: 1px solid var(--light-border);
}}
@media only screen and (max-width: 675px) {#navbar_menu .navbar-button {
	display: flex;
	align-items: center;
	padding-right: 0.7em;
	border-radius: 0.25em;
}}
@media only screen and (max-width: 675px) {#navbar:not(.is-sticky) #navbar_menu .navbar-button {
	background-color: #f6f6f6;
}}
@media only screen and (max-width: 675px) {#navbar.is-sticky #navbar_menu .navbar-button {
	column-gap: 0.7em;
}}
@media only screen and (min-width: calc(675px + 1px)) {#navbar:not(.is-sticky) #navbar_menu .navbar-button:hover {
	box-shadow: 0 -3px 0 var(--dark-border) inset;
}}
@media only screen and (min-width: calc(675px + 1px)) {#navbar.is-sticky #navbar_menu .navbar-button:hover {
	color: var(--almost-white);
	background-color: var(--dark-background);
	box-shadow: 0 -2px 0 var(--dark-border) inset;
}}

@media only screen and (min-width: calc(675px + 1px)) {#navbar_menu .navbar-button span {
	width: 4.03em;
	font-size: 0.9em;
	font-weight: 450;
	text-align: center;
	display: inline-block;
	transition: font-weight 0.1s ease;
}}
@media only screen and (max-width: 675px) {#navbar_menu .navbar-button span {
	font-weight: 420;
}}

/* Mobile Navbar Button Icons */

#navbar_menu .navbar-button .navbar-button-icon {
	height: 1em;
	padding: 0.7em;
	filter: invert();
	border-radius: 0.25em;
	background-color: var(--dark-background);
}
@media only screen and (min-width: calc(675px + 1px)) {#navbar_menu .navbar-button .navbar-button-icon {
	display: none;
}}

/* Dimmer */

#navbar_dimmer {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	opacity: 0;
	position: fixed;
	pointer-events: none;
	background-color: rgba(0,0,0,0.15);
	transition: opacity 0.15s ease;
}

@media only screen and (max-width: 675px) {#navbar.is-sticky.menu-open + #navbar_dimmer {
	opacity: 1;
	pointer-events: all;
}}


/* MAIN CONTAINER */

#main {	display: flex; }
@media only screen and (min-width: calc(1400px + 1px)) {#main {	flex-direction: row-reverse; }}

#main_content {	border-bottom: 1px solid var(--light-border); }


/* BULLETIN */

#bulletin_container {
	display: flex;
}
@media only screen and (min-width: calc(1400px + 1px)) {#bulletin_container {
	top: 5.05em;
	flex: 0 0 20em;
	position: sticky;
	align-self: flex-start;
	background: repeating-linear-gradient(45deg, var(--light-border) 0px, var(--light-border) 5px, transparent 5px, transparent 11px);
}}

@media only screen and (max-width: 1400px) {#bulletin_wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(4px) brightness(0.9);
	transition: opacity 0.15s ease;
}}
@media only screen and (max-width: 1400px) {#bulletin_wrapper:not(.show) {
	opacity: 0;
	pointer-events: none;
}}

#bulletin {
	display: flex;
	position: relative;
	flex-direction: column;
	box-sizing: border-box;
}
@media only screen and (min-width: calc(1400px + 1px)) {#bulletin {
	min-height: 310px;
	padding-bottom: 4em;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}}
@media only screen and (max-width: 1400px) {#bulletin {
	padding: 5em;
	margin: 0 10vw;
	max-width: 500px;
	max-height: 70vh;
	border-radius: 0.25em;
	box-shadow: 0 0 20px 10px rgba(34,34,34,0.3);	
}}
@media only screen and (max-width: 500px) {#bulletin { padding: 4em; }}

#bulletin_content_wrapper {
	display: flex;
	min-height: 0;
	position: relative;
}

#bulletin_content {
	overflow-y: auto;
	scrollbar-width: none;
}
#bulletin_content::-webkit-scrollbar {
	display: none;
}

/* Bulletin Content Scroll Indicator */

#bulletin_content_wrapper::after {
	left: 45%;
	width: 0.75em;
	position: absolute;
	transform: translateX(-50%);
	content: url("../Assets/Images/Icons/down.svg");
	transition: opacity 0.1s ease;
	animation: bounce 2s ease infinite;
}
@media only screen and (min-width: calc(1400px + 1px)) {#bulletin_content_wrapper::after {
	bottom: -2.5em;
}}
@media only screen and (max-width: 1400px) {#bulletin_content_wrapper::after {
	bottom: -2.9em;
}}
@media only screen and (max-width: 675px) {#bulletin_content_wrapper::after {
	bottom: -2.6em;
}}
#bulletin_content_wrapper.fully-scrolled::after {
	opacity: 0;
}


/* Mobile Bulletin Close Button */

#bulletin_close_button {
	top: 0.6em;
	right: 0.6em;
	width: 0.8em;
	padding: 1.3em;
	position: absolute;
}
@media only screen and (min-width: calc(1400px + 1px)) {#bulletin_close_button {
	display: none;
}}


/* TOOLBAR */

#toolbar {
	z-index: 1;
	display: flex;
}
@media only screen and (min-width: calc(1400px + 1px)) {#toolbar {
	width: 3.15em;
	flex-direction: column;
	align-items: flex-start;
}}
@media only screen and (max-width: 1400px) {#toolbar {
	left: 50%;
	bottom: 0.5em;
	position: fixed;
	overflow: hidden;
	border-radius: 0.25em;
	transform: translateX(-50%);;
}}

/* Toolbar Buttons */

#toolbar .toolbar-button {
	display: flex;
	position: relative;
	padding: 1em 1.1em;
	color: var(--almost-white);
	background-color: var(--dark-background);
	transition: 0.2s border-radius ease-out;
}
@media only screen and (min-width: calc(1400px + 1px)) {#toolbar .toolbar-button {
	border-left: 2px solid var(--dark-border);
	border-bottom: 2px solid var(--dark-border);
}}
@media only screen and (min-width: calc(1400px + 1px)) {#toolbar .toolbar-button:hover {
	border-radius: 0 0.25em 0.25em 0;
}}
@media only screen and (max-width: 1400px) {#toolbar .toolbar-button:not(:last-child) {
	border-right: 2px solid var(--dark-border);
}}

/* Toolbar Button Icon */

#toolbar .toolbar-button-icon {
	width: 0.85em;
}

/* Desktop Toolbar Hover Text */

#toolbar .toolbar-button .hidden-text {
	opacity: 0;
	max-width: 0;
	transition: opacity 0.2s ease, max-width 0.2s ease;
}
@media only screen and (min-width: calc(1400px + 1px)) and (pointer: fine) {#toolbar .toolbar-button:hover .hidden-text {
	opacity: 1;
	max-width: 3.6em;
}}
#toolbar .toolbar-button .hidden-text span {
	display: block;
	font-weight: 500;
	font-size: 0.75em;
	margin-left: 0.8em;
	letter-spacing: 0.05em;
	font-family: var(--sans-serif-font);
}

/* Mobile Bulletin Button */

@media only screen and (min-width: calc(1400px + 1px)) {#mobile_bulletin_button {
	display: none !important;
}}


/* STORIES */

#story_preview_list>:not(:last-child) {
	border-bottom: 1px solid var(--light-border);
}

@media only screen and (max-width: 1400px) {.story.preview {
	text-align: center;
}}


/* FOOTER */

#footer {
	padding: 1.5em 2.5em;
	color: var(--almost-white);
}

#footer_hero {
	font-size: 2.4em;
	font-weight: 500;
	text-align: center;
	font-family: var(--display-font);
}

#footer_content {
	font-weight: 500;
	font-size: 0.7em;
	margin-top: 0.5em;
	text-align: center;
}


/* ANIMATIONS */

@keyframes bounce {
	0%, 20%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-0.3em);}
	50% {transform: translateY(0.2em);}
	60% {transform: translateY(-0.2em);}
}