/* FONT DEFINITONS */

@font-face {
	font-family: "Gentium Plus";
	src: url("../fonts/Gentium/gentium_plus_regular.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Melodrama";
	src: url("../fonts/Melodrama/melodrama_variable.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 0% 200%;
	font-style: normal;
}

@font-face {
	font-family: "Satoshi";
	src: url("../fonts/Satoshi/satoshi_variable.woff2") format("woff2-variations");
	font-weight: 300 900;
	font-stretch: 0% 200%;
	font-style: normal;
}
@font-face {
	font-family: "Satoshi";
	src: url("../fonts/Satoshi/satoshi_variable_italic.woff2") format("woff2-variations");
	font-weight: 300 900;
	font-stretch: 0% 200%;
	font-style: italic;
}

@font-face {
	font-family: "Karma";
	src: url("../fonts/Karma/karma_variable.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 0% 200%;
	font-style: normal;
}